@import url('https://fonts.googleapis.com/css2?family=Besley:ital@1&family=Finger+Paint&family=Open+Sans&display=swap');

/*general*/
* {
    padding: 1%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    display: none;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.5em;
}

img {
    filter: saturate(0%) sepia(20%);
}

/* header*/
.suscribers {
    padding: 5%;
    background-color: rgb(156, 155, 154);
    color: antiquewhite;
    font-size: 1.3em;
    text-align: center;
}

header {
    position: sticky;
    top: -80px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}



header img {
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 5%;
}

/* navbar */
ul {
    text-align: center;
}

.navList {
    display: inline;
    text-transform: capitalize;
    font-size: 1.2em;
    /*El orden en que pasamos parametros: arriba, derecha, abajo, izquierda. Si hay solo dos serian arriba/abajo, izquierda/derecha*/
    padding: 0.5% 2%;
}

.navList a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.navList a:hover {
    background-color: rgb(141, 141, 141);
}

/*principal  */


.principal {
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

/* news */

main {
    width: 60%;
}

main .reporterName {
    font: 'Besley', serif;
}

main .photo {
    max-width: 500px;
}

main .newsContent {
    display: flex;
}

main .newsContent p {
    padding: 0 1%;
    text-align: justify;
}

/* aside */

aside {
    width: 40%;
    border-left: 2px solid black;
}

aside .ads {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

aside img {
    width: 50%;
}

/* form */

.suscribe {
    margin: auto;
    border-top: 3px black;
    background-color: blanchedalmond;
    padding: 2% 0 2% 10%;
    box-shadow: 2px 2px 2px 1px rgba(19, 19, 19, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

form label.userInfo {
    justify-content: space-between;
    display: flex;
    width: 80%;
}

form input,
form select {
    padding: 12px 20px;
    width: 80%;

}

form label.userType {
    width: 40%;
}

form button{
    width: 20%;
    text-align: center;
    padding: 12px 20px;
    margin:  auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(19, 19, 19, 0.5);
}




/*article img {
    width: 40%;
    margin: auto;
    margin-top: 5%;

}*/